@if (isTaskAdded){
    <app-new-task  (onCancel)="onCancelAddingTask()"  (addTask) = "onSubmitTask($event)"/>
}
<section id="tasks">
    <header>
        <h3>{{name}}'s Tasks</h3>
        <menu>
            <button (click)="onAddTask()">Add New</button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task-list (complete)="onCompleteTask(task.id)" [task]="task"/>
            </li>
        }
    </ul>
</section>

